{% extends 'base.html' %}
<!--Extended base html file-->
{% csrf_token %}
{% block content %}
    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/PHO1.png" alt="">
		<h1 class="text-uppercase mb-0">Tran Nhat Minh</h1>
		<hr class="star-light">
		<h2 class="font-weight-light mb-0">Devops Developer - AWS - Django</h2>
	  </div>
	</header>

	<!--PORTFOLIO-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Project</h2>
			<hr class="star-light mb-5 text-white">
			{% for p1 in p %}<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{p1.name}} </h5>
					<p class="card-text">{{p1.des}}</p>
					<a href="javascript:window.open('{{p1.link}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary"> Project Link</a>
					<a href="javascript:window.open('{{p1.gitlink}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{p1.name1}} </h5>
					<p class="card-text">{{p1.des1}}</p>
					<a href="javascript:window.open('{{p1.link1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary"> Project Link</a>
					<a href="javascript:window.open('{{p1.gitlink1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			{% endfor %}		
		</div>
	</section>


	<!--ABOUT-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0">Certification</h2>
			<hr class="star-light mb-5 text-white">
			{% for c1 in c %}<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{c1.name}} </h5>
					<p class="card-text">{{c1.des}}</p>
					<a href="javascript:window.open('{{c1.link}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary"> view cretificate</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					<h5 class="card-title">{{c1.name1}} </h5>
					<p class="card-text">{{c1.des1}}</p>
					<a href="javascript:window.open('{{c1.link1}}','mypopuptitle','width=1000,height=800')" class="btn btn-primary">view cretificate</a>
				  </div>
				</div>
			  </div>
			</div>
			{% endfor %}	
		</div>
	</section>

	<!--ABOUT-->
	<section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">I'm a Devops Developer working on AWS, Using Django, Docker, Kubernete, CI/CD for Web Development.</p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">Also having knowledge of  Python, Django, Mysql, GIT, Docker, Kubernete, CI/CD.  </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/mypf/files/resume.pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>

{% endblock %}